{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'css/game.css'%}">
    <title>Описание карт</title>
</head>
<body>
    <header>
        <div class="top-menu">
            <ul class="uls">
                <li><a class="clickMenu" href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'table' %}">Таблица</a></li>
                <li><a href="{% url 'spravka' %}">Справка</a></li>
            </ul>
        </div>
        <div class="block-top-req">
            <p><a href="/accounts/login">Войти в аккаунт</a></p>
        </div>
        <div class="block-top-req second">
            <p><a href="{% url 'signup' %}">Зарегистрироваться</a></p>
        </div>
    </header>
    <div class = "text10">
        <p>Тип игры: на внимательность.</p>
        <p>Количество игроков: минимум — 2, максимум — 10.</p>
        <p>Возраст участников: от 7 лет.
        <p>Длительность: примерно полчаса.
        <p>Цель: быстрее остальных избавиться от карт. После первого тура подсчитываются очки, и начинается новый раунд: второй, третий, четвертый…
        <p>Поражение: проигравшим становится тот, в копилке которого накапливается 200 очков.
        <p>Тонкости и секреты</p>
 
        <p>1. ПРАВИЛО ВЕЖЛИВОСТИ. Игровой процесс продолжается лишь после того, как участник, взявший четыре карты из колоды, рассортирует их и сообщит остальным о своей готовности играть.
        <p>2. ПРАВИЛО ОТКРЫТОСТИ. Игрокам нельзя умалчивать информацию о числе карт на руках: запрещается складировать их стопкой, маскировать, опускать под стол, прикрывать руками или другими предметами. Вы должны видеть, сколько карт на руках у соперников.
        
        <p>3. ПРАВИЛО ПОСЛЕДНЕЙ КАРТЫ. Кто-то выбросил на стол предпоследнюю карту? Он должен громко выкрикнуть волшебную фразу: «УНО!». Это своеобразное сообщение о том, что на руках осталась одна карта. Если участник забыл крикнуть, напарники по игре говорят: «УНО!» вместо него. Главное — успеть до хода нового игрока. В результате из-за своей забывчивости без пяти минут победителю приходится брать из колоды 4 карты и сражаться за победу снова.
        
        <p>4. ПРАВИЛО ПЕРЕХВАТА ХОДА. Вы имеете право пойти вне очереди, когда вздумается. Для этого припасите такую же карту, что и в центре стола. В данном случае должны совпадать сразу 2 параметра: первый — цвет, второй — цифра или рисунок. Также под правила подпадает карта «Смена цвета».
        
        Обратите внимание, что в этом правиле есть несколько тонкостей, о которых нужно знать и которые нельзя нарушать:
        
        карта «Смена цвета плюс четыре» никогда не участвует в перехвате хода, потому что она выкладывается исключительно в свой ход;
        перехватывать ход нельзя на самом старте игры, когда на столе находится одна карта; в таком случае ходит следующий участник после раздающего;
        при наличии двух одинаковых карт выкладываются они поочередно: одна карта — в свой ход, а потом другая.  
         
        <p>5. ПРАВИЛО ПРОТИВ ОБМАНА. Заметили, что участники игры часто ошибаются, демонстрируют невнимательность или открыто обманывают? Введите дополнительное правило. Звучит оно так: при ложном крике, ошибочно или не вовремя выложенной карте и других нарушениях игрок берет себе две дополнительные карты.
    </div>
</body>
</html>