{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'css/karti.css'%}">
    <title>Описание карт</title>
</head>
<body>
    <header>
        <div class="top-menu">
            <ul class="uls">
                <li><a class="clickMenu" href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'table' %}">Таблица</a></li>
                <li><a href="{% url 'spravka' %}">Справка</a></li>
            </ul>
        </div>
        <div class="block-top-req">
            <p><a href="/accounts/login">Войти в аккаунт</a></p>
        </div>
        <div class="block-top-req second">
            <p><a href="{% url 'signup' %}">Зарегистрироваться</a></p>
        </div>
    </header>
    <div class = "karti">
        <img src = "{% static 'images/karti1.jpg' %}" width = "400px">
        <div>
            <p class = "text6   ">Цифровые карты: начинаются с нуля и заканчиваются девяткой. Они могут быть синего, зеленого, красного и желтого цветов. Карт от 1 до 9 представлено по 2 штуки каждого цвета. Соответственно, всего 72 такие карты. Карт с цифрой 0 в колоде — 4 (по одной на каждый цвет). Итого: 72+4 = 76 цифровых карт. Приличное количество!</p>
        </div>
        <img src = "{% static 'images/karti2.jpg' %}" width = "150px">
        <div>
            <p class = "text7">«Пропуск хода» — это карта, сигнализирующая о том, что следующий участник обязан пропустить свой ход. Все весьма понятно и логично. Разумеется, есть защита от пропуска хода: выложите карту такого же цвета и с таким же значением. Проблема будет решена.</p>
        </div>
        <img src = "{% static 'images/karti3.jpg' %}" width = "150px">
        <div>
            <p class = "text8">Когда на столе оказывается «Смена направления», участники перестраиваются на новый лад: ходят против часовой стрелки. Нередко случается так, что на поле выкладываются сразу несколько карт такого типа. Что делать в этой ситуации? Суммировать. Например, 2 карты «Смена направления» можно игнорировать, а вот три карты все же меняют направление хода.</p>
        </div>
        <img src = "{% static 'images/karti4.jpg' %}" width = "150px">
        <div>
            <p class = "text9">Если кто-то скинул карту «Плюс две карты», значит следующему придется взять две карты и отказаться от своего хода. Спастись от неприятного сюрприза можно картой с таким же значением, цвет может быть любым. Действия карт не складываются, поэтому тот игрок, на котором заканчивается цепочка, берет 2 карты и временно отдыхает.
            </p>
        </div>
        <img src = "{% static 'images/karti5.jpg' %}" width = "150px">
        <div>
            <p class = "text10">Карта UNO «Смена цвета» в игровой процесс вносит некую интригу. Тот человек, который выкинул ее, может заказать любой цвет: как совершенно новый, так текущий — как решит, так и будет. Нужно ли для выкладывания карты соблюдать жесткие условия? Нет, ограничения в этом вопросе отсутствуют.</p>
        </div>
        <img src = "{% static 'images/karti6.jpg' %}" width = "150px">
        <div>
            <p class = "text11">Черную карту «Смена цвета плюс четыре» разрешено выбрасывать на стол только в свой ход и только в том случае, если на руках нет карты текущего цвета. Следующему игроку придется взять из колоды 4 карты и пропустить ход. Игра продолжается с того цвета, который был заказан. Спастись от действия карты можно картой «Плюс две карты», но обязательно заказанного цвета.</p>
        </div>
    </div>
</body>
</html>