{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'css/prav.css'%}">
    <title>Описание карт</title>
</head>
<body>
    <header>
        <div class="top-menu">
            <ul class="uls">
                <li><a class="clickMenu" href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'table' %}">Таблица</a></li>
                <li><a href="{% url 'spravka' %}">Справка</a></li>
            </ul>
        </div>
        <div class="block-top-req">
            <p><a href="/accounts/login">Войти в аккаунт</a></p>
        </div>
        <div class="block-top-req second">
            <p><a href="{% url 'signup' %}">Зарегистрироваться</a></p>
        </div>
    </header>
    <div class = "text10">
        <p>Начало «УНО» всегда стандартное: кто-то из участников активно перемешивает карты, после чего раздает их компаньонам по настольной игре. В результате этой несложной манипуляции каждый человек получает по 7 карт (ни больше ни меньше). Но вот что за карты на руках, пока никто не знает.
        <p>Последнюю карту переворачивают и выкладывают на стол. Главное требование — на ней изображается исключительно цифра. Если перед нами карта с картинкой и карта черного цвета, она возвращается обратно в колоду. Повторяйте это действие до тех пор, пока наконец-то не попадется долгожданная цифра (какая именно, не имеет значения). Иногда начало затягивается, но ничего не поделаешь — против правил не попрешь.
            
        <p>Подготовительный ритуал завершен, игроки начинают выбрасывать карты. Делают это по очереди, обычно по часовой стрелке и руководствуясь сводом правил. Первым ходит тот, кому посчастливилось находиться по левую руку от раздающего. Кстати, право работать с картами также передается по часовой стрелке. Других вариантов не предусмотрено.
            
        <p>Что подразумевается под ходом? Это выкладывание своей карты на ту карту, которая находится на столе. Но это не хаотичное выбрасывание, а четкие манипуляции с соблюдением некоторых рекомендаций от создателей UNO:
        <p>карты на 100% совпадают по цвету или имеют идентичную картинку/цифру;
        <p>есть карты универсального применения: «Смена цвета», «Смена цвета плюс четыре» (их трудно не заметить, потому что они черные);
        <p>когда нужной карты нет, игрок тянет руку к подготовленной ранее колоде и берет оттуда вслепую верхнюю карту (это можно делать только раз; если не повезло, скажите «Пас», передав ход другому).
             
        <p>Тур заканчивается сразу, как только один из людей скидывает последнюю карту. Остальные подсчитывают и записывают очки, учитывая стоимость карт:
             
        <p>Карты цифрового типа считаются по указанному номиналу.
        <p>Каждая черная карта прибавляет вам 50 баллов.
        <p>Карты с изображениями стоят по 20 очков.</p>
    </div>
</body>
</html>